:root {
	--color-bg-dark: #171717;
	--color-bg-light: #f8f8f8;
	--color-text-dark: #000000;
	--color-text-light: #fbfbfb;
	--color-link-dark: #ffb650;
	--color-link-light: #cd241f;
	--font-family-main: "IBM Plex Mono", monospace;
	--transition-speed: 0.3s;
	transition: all var(--transition-speed) ease;
}

/* Dark and Light Theme Variables */
.bg-dark {
	--color-bg: var(--color-bg-dark);
	--color-text: var(--color-text-light);
	--color-link: var(--color-link-dark);
}

.bg-light {
	--color-bg: var(--color-bg-light);
	--color-text: var(--color-text-dark);
	--color-link: var(--color-link-light);
}

/* General Body Styling */
body {
	background-color: var(--color-bg);
	color: var(--color-text);
	font-family: var(--font-family-main);
	transition: background-color var(--transition-speed) ease,
		color var(--transition-speed) ease;
}

html,
body {
	min-height: 100vh;
	font-family: var(--font-family-main);
	font-weight: 400;
}

/* Headings */
h1,
h2,
h3 {
	font-weight: 700;
	margin-top: 2rem;
}

h1 {
	font-size: 25px;
}

h2 {
	font-size: 22px;
}

h3 {
	font-size: 18px;
}

/* Links */
a {
	text-decoration: none;
	transition: color var(--transition-speed) ease;
}

html.bg-dark a {
	color: var(--color-link-dark);
}

html.bg-light a {
	color: var(--color-link-light);
}

a:hover {
	text-decoration: underline;
	text-decoration-thickness: 1.5px;
}

/* Theme Toggle */
#theme-toggle {
	background: none;
	border: none;
	cursor: pointer;
	font-size: 1.3rem;
	padding: 0;
	margin-bottom: 0.2rem;
}

/* Ascii Art */
.ascii-art-dark,
.ascii-art-light {
	display: none;
	opacity: 1;
	transition: opacity 0.3s ease;
}

.bg-dark .ascii-art-dark,
.bg-light .ascii-art-light {
	display: block;
}

.ascii-art-light {
	display: none;
}

.ascii-art-dark {
	display: block;
}

.bg-light .ascii-art-light {
	opacity: 1;
}

.bg-light .ascii-art-dark {
	opacity: 0;
}

/* Divider */
.divider {
	width: 100%;
	height: 1px;
	margin: 0.25rem 0;
}

.special-divider {
	margin-bottom: 1rem;
}

html.bg-dark .divider {
	background-color: var(--color-bg-light);
}

html.bg-light .divider {
	background-color: var(--color-bg-dark);
}

/* Containers */
.container {
	max-width: 600px;
	margin: 0 auto;
	padding: 0 5%;
}

main {
	padding: 0;
}

main.container.home-page {
	padding-left: 0;
	padding-right: 0;
}

header {
	width: 100%;
}

/* Navigation */
nav {
	padding: 1rem 0;
	font-size: 16px;
	color: var(--color-text-light);
}

.nav-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.logo {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: auto;
}

.nav-links {
	list-style-type: none;
	margin: 0;
	margin-bottom: -0.5rem;
	margin-top: -0.2rem;
	padding: 0;
	font-size: 16px;
}

.nav-links li {
	margin: 0 1rem;
}

.nav-links a {
	color: inherit;
	text-decoration: none;
	padding-bottom: 10px;
	z-index: 5;
}

.nav-links a:hover{
	text-decoration: underline;
	opacity: 0.8;
}

.nav-links li:last-child {
	margin-right: 0;
}

.bg-dark nav a {
	color: var(--color-bg-light);
	text-decoration: none;
}

nav a:hover {
	color: inherit;
}

.bg-light nav a {
	color: var(--color-bg-dark);
	text-decoration: none;
}

/* Divider Containers */
.divider-container {
	display: flex;
	align-items: center;
}

.flex-list {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
	align-items: center;
	justify-content: center;
	margin-top: 0.2rem;
	margin-bottom: -0.75rem;
}

/* Ascii Art */
.ascii-art {
	font: 8.3px var(--font-family-main);
	line-height: 10px;
	white-space: pre;
	margin: 0 auto;
	display: none;
	text-align: center;
	z-index: 10;
	max-width: 100%;
	height: auto;
	transition: opacity var(--transition-speed) ease,
		display var(--transition-speed) ease;
}

/* Media Queries */
@media (max-width: 780px) {
	.ascii-art {
		font-size: 5px;
		line-height: 6px;
	}

	.nav-links {
		margin-top: 0;
		z-index: 1;
	}

	.nav-links li {
		margin-right: 0.35rem;
		margin-left: 0.35rem;
	}

	.text-content {
		font-size: 16px;
		max-width: 50%;
	}

	.text-content {
		max-width: 100%;
		align-self: stretch;
	}
}

@media (max-width: 650px) {
	.nav-links {
		font-size: 14px;
	}
}

@media (max-width: 440px) {
	nav {
		padding-top: 10px;
		padding-bottom: 15px;
	}

	#theme-toggle {
		font-size: 1rem;
		padding: 0;
	}

	.nav-links {
		font-size: 13px;
	}

	html.bg-light body.bg-light .breadcrumbs,
	html.bg-dark body.bg-dark .breadcrumbs {
		font-size: 12px;
		padding-bottom: 5px;
	}
}

@media (max-width: 370px) {
	.flex-list {
		gap: 0;
	}

	nav {
		padding-top: 5px;
		padding-bottom: 15px;
	}

	.nav-links {
		font-size: 12px;
		margin-top: 0;
	}

	.ascii-art {
		font-size: 4.5px;
		line-height: 5.5px;
	}

	ul.nav-links {
		margin-left: -1rem;
		margin-right: -1rem;
	}

	h1 {
		font-size: 21px;
	}

	h2 {
		font-size: 19px;
	}

	h3 {
		font-size: 16px;
	}

	.text-content,
	p {
		font-size: 15px;
	}
}

/* Footer */
footer {
	margin-top: 2rem;
	padding: 2rem 0;
}

.footer-content {
	display: grid;
	grid-template-columns: 1fr auto auto;
	align-items: center;
	gap: 0.5rem;
}

.footer-nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

.footer-nav li:not(:last-child) {
	margin-right: 1rem;
}

.footer-nav a {
	text-decoration: none;
	transition: color 0.3s ease;
}

.footer-nav a:hover {
	opacity: 0.8;
	text-decoration: underline;
}

.social-links {
	display: flex;
}

.social-links a {
	margin-left: 0.5rem;
	transition: color 0.3s ease;
}

.social-links a:hover {
	opacity: 0.8;
}

@media (max-width: 768px) {
	.footer-content {
		grid-template-columns: 1fr;
		justify-items: center;
		text-align: center;
	}

	.footer-nav ul {
		flex-wrap: wrap;
		justify-content: center;
	}

	.footer-nav li {
		margin: 0.5rem;
	}

	.social-links {
		margin-top: 1rem;
	}
}

.project-card {
	background-color: var(--color-bg-light);
	color: var(--color-text-dark);
	border-radius: 8px;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	padding: 1.5rem;
	transition: transform var(--transition-speed) ease,
		box-shadow var(--transition-speed) ease;
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 0.5rem;
}

.project-card:hover {
	transform: translateY(-5px);
	box-shadow: 0 8px 15px rgba(0, 0, 0, 0.15);
}

.project-image {
	width: 100%;
	height: auto;
	max-height: 200px;
	object-fit: cover;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.project-card h3 {
	margin-bottom: 1rem;
}

.project-card p {
	margin-bottom: 1.5rem;
}

.project-link {
	color: var(--color-link-light);
	text-decoration: none;
	font-weight: bold;
}

.project-link:hover {
	text-decoration: underline;
}
